.pinter_containr{
background-color: rgb(238, 238, 238);
}

.pinter_row_1st{
    background-color: white;
    border-radius: 19px;
    box-shadow: 1px 1px 1px 0px rgb(235, 232, 232);
}


.pinterest_img{
background-image: url("../../public/assests/images/cloth5.jpg");
object-fit: cover;
background-size: cover;
width: 340px;
height: 400px;
margin-left: 30px;
margin-top: 120px;
}

.print_logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #e60023;
    font-size: 40px;
    margin-left: 200px;
}


.pinterest_input{
    height: 50px;
border-radius: 16px;
border: 2px solid rgb(194, 191, 191);
}

.print_forget_p_tag{
    font-size: 14px;
    font-weight: 500;
}

.print_login{
    background-color:#e60023;
    height: 39px;
    color: white;
    font-weight: 500;
    padding-top: 6px;
    border-radius: 18px;
}
.print_login:hover{
    opacity: 0.5;
    cursor: pointer;
}

.print_or{
    font-weight: 500;
}

.print_facebook{
    background-color:#4267b2;
    height: 39px;
    color: white;
    font-weight: 500;
    padding-top: 6px;
    border-radius: 18px; 
}

.print_google{
    height: 39px;
    color: rgb(99, 85, 85);
    font-weight: 500;
    padding-top: 6px;
    border-radius: 18px;  
    border: 1px solid grey; 
}
.by_continue{
    font-size: 12px;
}

.not_on_pinterest{
    font-size: 13px;
    font-weight: 500;
}

